doctype html
html
  head
    meta(charset='utf-8')
    |     
    title &#x8FC7;&#x6EE4;&#x5668;
  |   
  body
    h2 mardown&#x8BED;&#x6CD5;
    p
      strong imooc
      |  
      a(href='https://www.imooc.com') link
