doctype
html
  head
    meta(charset='utf-8')
    title #{title}
    include ./includes/head
    style.
      .page-header{width:100vh;text-align:center}
  body
    include ./includes/header
    block content