* {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style-type: none;
}
/*主体部分*/
#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.content-wrap {
  position: relative;
}
.content-wrap>li {
  float: left;
  overflow: hidden;
  position: relative;
}