/* CSS reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
fieldset, img {
  border: 0;
}
:focus {
  outline: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: normal;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "Microsoft YaHei";
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
code, kbd, samp, tt {
  font-size: 100%;
}
input, button, textarea, select {
  *font-size: 100%;
  border: none;
}
body {
  background: #fff;
  color: #5e5e5e;
  font: 14px/2em Microsoft YaHei, SimSun, Arial;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
}
sup, sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link, :visited, ins {
  text-decoration: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a:link, a:visited {
  color: #5e5e5e;
}
a:hover {
  color: #c9394a;
}
a:active {
  color: #666;
}
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.l {
  float: left;
}
.r {
  float: right;
}
.clear {
  height: 0;
  overflow: hidden;
  clear: both
}
.hide {
  display: none;
}
.btn.hide {
  display: none;
}
a.hidefocus {
  outline: none;
}
button.hidefocus::-moz-focus-inner {
  border: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input, textarea {
  outline: none;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
  line-height: 32px;
}
h5 {
  font-size: 14px;
  line-height: 28px;
}

/*border && padding*/

.img_border {
  border: 4px solid #fff;
  border-radius: 1px;
}
.bb {
  border-bottom: 1px solid #d2d2d2
}
.bt {
  border-top: 1px solid #d2d2d2
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}

/*Layout*/

.container {
  margin: 0 auto;
  width: 960px;
}
.container1000 {
  margin: 0 auto;
  width: 1000px;
  background: #fff
}

/*main*/

#main {
  padding: 40px 0;
  min-height: 750px;
}
.waper {
  width: 980px;
  margin: 0 auto
}

/*header*/

#header {
  font-family: '微软雅黑';
  background: #2a2c2e;
  height: 60px
}
.header-container {
  width: 100%
}
.header-content {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden
}
#logo {
  background: url(../img/logo_index.png) #F00;
  width: 220px;
  height: 80px;
  left: 0;
  top: 0;
  position: absolute
}
#logo a {
  display: block;
  width: 220px;
  height: 80px;
  line-height: 80px;
  text-indent: -200%;
  overflow: hidden;
}
#nav {
  height: 60px;
  margin: 0 auto;
  background: #2a2c2e;
  position: relative;
  z-index: 99
}
#nav-item {
  margin: 8px 0 0 250px;
}
#nav-item li {
  float: left;
  font-size: 14px;
}
#nav-item a {
  color: #B5BDC0;
  padding: 10px 35px;
  display: block
}
#nav-item a:hover {
  color: #fff
}
#nav a:hover {
  text-shadow: 1px 1px 3px #666
}
#login-area {
  float: right;
  margin-top: 10px;
  position: relative;
}
.login-btn {
  font-family: '微软雅黑';
  width: 100px;
  height: 40px;
  background: #c9394a;
  text-align: center;
  display: block;
  line-height: 40px;
  font-size: 14px;
  opacity: .9;
  text-decoration: none;
  color: #fff;
  cursor: pointer
}
.login-btn:hover {
  opacity: 1;
}

/*设置中心*/

#set_btn {
  border: 0;
  padding: 0;
  width: 42px;
  height: 40px;
  display: block;
  cursor: pointer;
  background: url(../img/menu_icon.png) no-repeat
}
#set_btn img {
  border-radius: 20px
}
#nav_list {
  display: none;
  z-index: 999;
  width: 100px;
  position: absolute;
  top: 40;
  right: -6px;
  background: #2A2C2E;
  list-style: none
}
#nav_list li {
  height: 40px;
  font-size: 14px;
  background: url(../img/menu_icon.png) no-repeat
}
#nav_list li a {
  display: block;
  line-height: 40px;
  color: #8c969a;
  border-left: 3px solid #2a2c2e;
  text-align: left;
  padding-left: 30px
}
#nav_list li a:hover {
  border-left: 3px solid #F06;
  color: #ccc
}
#nav_list #my_message {
  background-position: 9px -46px
}
#nav_list #my_note {
  background-position: 9px -88px
}
#nav_list #my_question {
  background-position: 9px -128px
}
#nav_list #my_setting {
  background-position: 9px -167px
}
#nav_list #my_logout {
  background-position: 9px -207px
}
.msg_icon {
  display: none;
  background: url("../img/numicon.png") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
  float: left;
  height: 12px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 12px;
}
#my_message .msg_icon {
  background-position: 1px -11px;
  top: 22px;
  left: 20px;
}

/*footer*/

#footer {
  background: #2a2c2e;
  border-top: 1px solid #e2e4e6;
  padding-top: 23px;
  font-size: 12px;
  color: #8e999d;
  line-height: 1.6;
  padding-bottom: 27px;
  padding-top: 27px
}
#footer a:link, #footer a:visited {
  color: #8e999d
}
#footer a:hover {
  color: #C00
}
.footer_logo {
  background: url(../img/footer_icon_logo.png) left top no-repeat;
  padding-bottom: 10px;
  margin-bottom: 9px;
  border-bottom: 1px solid #737373;
  height: 50px
}
#footer ul {
  overflow: hidden
}
#footer li {
  float: left;
  list-style: none;
  margin-right: 65px
}
#footer li.des {
  width: 345px;
}
#footer .attention a {
  float: left;
  background: url(../img/sprit.png) no-repeat;
  width: 31px;
  height: 30px;
  overflow: hidden;
  text-indent: -500%;
  margin-right: 10px;
  margin-top: 5px;
  opacity: .8;
  filter: alpha(opacity=80)
}
#footer .attention a:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}
#footer #qzone {
  background-position: 0 -30px
}
#footer #sinaweibo {
  background-position: -39px -30px
}
#footer #qqweibo {
  background-position: -79px -30px
}
#footer #weixin {
  background-position: -115px -30px
}

/*翻页2013-8-15*/

.page {
  margin: 25px 0 auto;
  overflow: hidden;
  clear: both;
  text-align: center;
}
.page a {
  display: inline-block;
  border: 1px solid #c1c1c1;
  margin-right: 10px;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #b1b1b1;
  text-align: center;
  padding: 5px 15px;
}
.page .disabled_page {
  color: #e5e5e5;
  display: inline-block;
  border: 1px solid #c1c1c1;
  margin-right: 10px;
  font-size: 14px;
  font-family: "微软雅黑";
  text-align: center;
  padding: 5px 15px;
}
.page .notmargin {
  margin-right: 0;
}
.page a:hover {
  color: #c9394a;
}
.page .active {
  background: #c9394a;
  color: #fff;
  border: 0 none;
}
.page .active:hover {
  color: #fff;
}

/*按钮定义开始*/

.btn, a.btn {
  cursor: pointer;
  border: none;
  background: #c9394a;
  color: #ffffff;
  padding: 0 15px;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-family: '微软雅黑';
  margin: 0;
  height: 26px;
  overflow: visible;
  line-height: 26px;
  text-decoration: none
}
.btn:hover, .btn:focus {
  background: #e35061;
  color: #fff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn:active, .btn-group.active, .btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
}
.btn.disabled, .btn[disabled] {
  background-color: #ddd;
  color: #fff;
  cursor: not-allowed
}
.btn.btn-small {
  font-size: 12px;
  height: 19px;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif
}
.btn.btn-large {
  height: 38px;
  line-height: 38px;
  overflow: visible;
  font-size: 18px;
  padding: 0 30px;
  color: #ffffff;
}
.btn.btn-xlarge {
  height: 60px;
  line-height: 60px;
  overflow: visible;
  font-size: 36px;
  padding: 0 30px;
}
.btn.btn-reply {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif
}
.btn.btn-gray {
  background-color: #5e5e5e;
}
.btn.btn-gray:hover, .btn.btn-gray:focus {
  background: #838383
}
.btn-close, a.btn-close {
  width: 25px;
  height: 25px;
  border: 0;
  display: inline-block;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  text-indent: -200%;
  overflow: visible;
  background-color: #ccc;
  background: url(data:image/gif;base64,R0lGODlhHgAeAJEAALGxsdjY2P///wAAACH5BAAHAP8ALAAAAAAeAB4AAAJRhI+py+0Po5y02hqCyzMIoS0eGI1fiJjko65Gi27fHMLdfNpUi7t7T7u8gDELr/gD+m7KE6aXgTKDAB1LerA2VEhuySkCl5ApsvCMTqvXbGEBADs=) center center;
}
.btn-close:hover, a.btn-close:hover {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.btn-close:active, a.btn-close:active {
  filter: alpha(opacity=60);
  opacity: 60
}
.btn-list {
  width: 101px;
  height: 42px;
  border: 1px solid #c9394a;
  background: #c9394a;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
}
a.btn-hascourse {
  width: 101px;
  height: 42px;
  border: 1px solid #c9394a;
  background: #c9394a;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
}
a.btn-hascourse:hover {
  background: #f05e6f;
  border: 1px solid #f05e6f;
}
.btn-list-gray {
  width: 101px;
  height: 42px;
  border: 1px solid #b1b1b1;
  background: #b3bbbe;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
}

/*按钮定义结束*/

select {
  margin: 0;
  font-size: 100%;
  cursor: pointer;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 4px 6px;
  vertical-align: middle;
}
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*进度条*/

progress {
  display: inline-block;
  background: #f0f0f0;
  border: 0;
  height: 10px;
  color: #c9394a;
  /*IE10*/
  width: 300px;
}
progress::-webkit-progress-bar {
  background: #f0f0f0;
}
progress::-moz-progress-bar {
  background: #c9394a;
}
progress::-webkit-progress-value {
  background: #c9394a;
}
.progress {
  background: #f0f0f0;
  height: 10px;
  width: 300px;
  display: inline-block;
}
.progressBar {
  background: #c9394a;
  height: 10px;
}
.teacher-icon {
  width: 7px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

/*回到顶部*/

.gotoTopBtn {
  display: block;
  position: fixed;
  width: 40px;
  height: 90px;
  bottom: 151px;
  left: 50%;
  margin-left: 510px;
}
.goto_top:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../img/gotoTop.png) no-repeat 0 -90px;
  display: inline-block;
}
.goto_top {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../img/gotoTop.png) no-repeat 0 0;
  display: inline-block;
}
.goto_top_backMeg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../img/gotoTop.png) no-repeat 0 -50px;
  display: inline-block;
  margin-top: 10px;
}
.goto_top_backMeg:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../img/gotoTop.png) no-repeat 0 -140px;
  display: inline-block;
  margin-top: 10px;
}
.goto_top_app {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../img/gotoTop.png) no-repeat 0 -192px;
  display: inline-block;
  margin-top: 10px;
}
#erweima {
  position: absolute;
  background: url(../img/2weima.png) no-repeat;
  width: 230px;
  height: 220px;
  display: none;
  right: 40px;
  top: -90px
}
.goto_top_app:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../img/gotoTop.png) no-repeat 0 -240px;
  display: inline-block;
  margin-top: 10px;
}
.goto_top_app:hover #erweima {
  display: block;
}
* html .gotoTopBtn {
  position: absolute;
  bottom: auto;
  top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}

/* html,* html body /* 
修正IE6振动bug */

{
  background-image: url(about:blank);
  /*用浏览器空白页面作为背景*/
  background-attachment: fixed;
  /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/
}

/* end 回到顶部*/

a {
  outline: none;
}
a:active {
  star: expression(this.onFocus=this.blur());
}
a, input, button {
  outline: none;
}
button::-moz-focus-inner {
  border: 0px;
}
input::-moz-focus-inner {
  border: 0px;
}
body {
  background: #f5f5f5;
  font-family: "微软雅黑";
}
a:link, a:visited {
  text-decoration: none
}
a:hover, a:active {
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.l {
  float: left
}
.r {
  float: right
}
.waper {
  width: 980px;
  margin: 0 auto
}
.waper h2 {
  font-size: 36px;
  font-family: '微软雅黑';
  color: #4d4d4d;
  font-weight: 100;
  margin-top: 20px
}
.waper h2 span {
  font-size: 18px;
  color: #8e999d;
  padding: 69px 0 0 428px;
  float: left
}
#indexVideo {
  position: relative;
  display: none;
  width: 600px;
  height: 360px;
  padding: 30px;
  box-shadow: 0 0 24px #4D1F16;
  background: none repeat scroll 0 0 #2A2C2E;
  border-left: 4px solid #C9394A;
  position: absolute;
  left: 50%;
  top: 200px;
  z-index: 99999;
  margin-left: -315px;
}
#indexVideo .btn-close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  z-index: 99;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMTkvMTOFkvAWAAABBElEQVRIie2WvQ3CMBCFn4E6C0SUlFCkYwVGIGXEHiziMtmFioIZPAEDQBEZEZOz30VBASlX5eflPp/te4657A8PTBCLKaAzeAYDAPLqiLw60glZ/SqdpHzdO9sQUE6/PK03ZyZJVuwAAPfrjYKm9JGpNj3Jy95pDKGxHD7EituRGmTFtvM8rESCOtvA2VoER9fYfxhW+Q4aAgUAw3i1NMX9g01DAbKPna2TO1oDpcEMXANVgduIrYrudKXBcsv49/w+oMEp6BA46dVSy3yuOQtXeXUXWnd0IdzrpKC9WoKyDheGyqullpFbbQSvTvWpVk95dXg9hp7y6m/E7/5zzeC/Bz8BdWKWFgEQWvQAAAAASUVORK5CYII=) no-repeat 0 0;
}
#discripcontainer {
  width: 980px;
  height: 600px;
  position: relative;
  margin: -600px auto 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.discripbg {
  width: 404px;
  height: 210px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: #444;
  position: absolute;
  left: 0;
  border-left: 4px solid #F36;
  z-index: 1;
  bottom: 80px;
}
.discrip {
  position: absolute;
  padding: 20px 40px;
  z-index: 2;
  left: 0;
  bottom: 80px;
  color: #fff;
  font-family: "微软雅黑"
}
.discrip h2 {
  font-size: 40px;
  margin: 11px 0 14px;
  font-weight: 100
}
.discrip h3 {
  font-size: 24px;
  font-weight: 100;
}
.discrip h4 {
  font-size: 20px;
  font-weight: 100;
}
.discrip h2, .discrip h3, .discrip h4 {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.btnarea {
  margin-top: 15px;
}
#slider {
  list-style: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #333
}
#slider li {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 600px
}
#slider li#bg01 {
  background: url(../img/index_banner01.jpg) center top no-repeat;
}
.slider-container {
  position: relative;
  margin: -40px 0 0 0
}
#sliderUl {
  height: 600px
}
#dotBox {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 2
}
#dotBox span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #fff;
  margin: 0 3px;
  cursor: pointer
}
#dotBox span:hover {
  background: #fff
}
#dotBox span.active {
  background: #FFF;
}
#enterbtn {
  width: 150px;
  height: 50px;
  background: #c9394a;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  float: left;
  margin-right: 15px
}
#enterbtn:hover {
  background: #e35061
}
#enterbtn-large {
  width: 210px;
  height: 60px;
  background: #c9394a;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
  margin: 20px auto 45px
}
#enterbtn-large:hover {
  background: #e35061
}
#learnmore {
  width: 148px;
  height: 48px;
  font-size: 20px;
  float: left;
  text-align: center;
  color: #fff;
  line-height: 50px;
  text-indent: 32px;
  background: url("../img/sprit.png") no-repeat scroll 11px -74px #333;
  opacity: .8;
}
#learnmore:hover {
  background-color: #666
}
#freshcourse h2 {
  background: url(../img/freshtit.png) left top no-repeat #2a2c2e;
  height: 100px;
  padding: 0
}
#freshcourse ul {
  padding-top: 20px;
  list-style: none;
  font-family: "微软雅黑";
  overflow: hidden;
  height: 650px;
}
#freshcourse ul li, #freshcourse p, #freshcourse h5 {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
#freshcourse ul li {
  float: left;
  width: 300px;
  background: #fff;
  margin: 0 40px 21px 0;
  padding-bottom: 5px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 1px #ccc;
}
#freshcourse ul li:hover {
  box-shadow: 0 3px 10px #999
}
#freshcourse ul li a:hover {
  display: block;
  overflow: hidden;
}
#freshcourse ul li a:hover h5 {
  color: #c30;
  text-decoration: underline
}
#freshcourse ul li a:hover p {
  color: #666
}
#freshcourse ul li.mr0 {
  margin-right: 0
}
#freshcourse ul li img {
  border-bottom: 4px solid #c9394a;
  margin: 10px 10px 0 10px
}
#freshcourse h5 {
  font-size: 16px;
  color: #52585a;
  padding: 0px 14px;
}
#freshcourse p {
  color: #B5BDC0;
  font-size: 12px;
  height: 30px;
  line-height: 1.6;
  overflow: hidden;
  padding: 0 6px 10px 14px;
}
#freshcourse .tips {
  padding: 0 14px;
  font-size: 12px;
  color: #8e999d;
  overflow: hidden;
  zoom: 1
}
#joinus {
  background: #2a2c2e;
  height: 360px;
  clear: both;
}
#joinus h2 {
  text-align: center;
  color: #606465;
  margin-top: 0;
  padding-top: 40px
}
#joinus ul {
  padding: 30px 0 0 100px;
  list-style: none;
  overflow: hidden;
  zoom: 1
}
#joinus ul li {
  float: left;
  width: 200px;
  margin-right: 15px;
  cursor: pointer;
  color: #52585a;
  height: 90px;
  border-radius: 90px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
#joinus ul li:hover, #joinus ul li.active {
  background: #fff;
  box-shadow: 0 0 3px #ccc
}
#joinus ul li:hover .pics, #joinus ul li.active .pics {
  opacity: 1
}
#joinus ul li .pics {
  float: left;
  margin-right: 10px;
  opacity: .8
}
#joinus h5 {
  margin: 17px 0 -6px;
  font-size: 14px;
}
#joinus p {
  color: #8e999d;
  font-size: 12px
}
#speak {
  position: relative;
  border: 3px solid #c9394a;
  width: 870px;
  margin: 40px auto 0;
  background: #404243;
  font-size: 15px;
  height: 50px;
  padding: 15px 30px;
  font-family: "微软雅黑";
  color: #b5bdc0;
  line-height: 1.6
}
.arrowdown {
  display: block;
  width: 0;
  height: 0;
  border-width: 13px;
  border-color: #c9394a transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 106px
}
.arrowdown-white {
  border-color: #fff transparent transparent transparent;
}
#icons {
  position: relative;
  box-shadow: 0 2px 2px #daddde;
  width: 870px;
  margin: 42px auto;
  background: #fff;
  font-size: 15px;
  padding: 30px 30px 30px;
  font-family: "微软雅黑";
  color: #8e999d;
  text-align: center;
}
#icons .arrowdown-png {
  background: url("../img/sprit.png") no-repeat scroll -2px 0 rgba(0, 0, 0, 0);
  bottom: -15px;
  display: block;
  height: 15px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 35px;
}
.icontit {
  padding: 15px 30px 0 34px;
  overflow: hidden
}
.icontit h3 {
  float: left;
  text-align: left;
  font-size: 20px;
  width: 305px;
  font-weight: 100
}
.icontit h3.last {
  width: 178px;
  float: right;
  text-align: center
}