/*公共样式*/

html, body {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 14px;
}
p {
  font-size: 18px;
  letter-spacing: 1px;
}
.hr {
  height: 2px;
  width: 100px;
  margin: 20px auto;
}
ul {
  margin: 0;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}

/*头部样式*/

.main-wrapper {
  background: url("../img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*避免屏幕缩小时出现空白区域*/
  overflow: hidden;
}
header {
  background: rgba(0, 0, 0, 0.4);
}
nav {
  height: 50px;
  line-height: 50px;
}
nav ul {
  list-style: none;
  margin: 0;
  float: right;
}
nav ul li, nav .logo {
  display: inline-block;
  line-height: 50px;
}
nav ul li a {
  line-height: 50px;
  text-decoration: none;
  height: inherit;
  margin-right: 40px;
  padding-bottom: 5px;
  color: #eee
}
.active {
  border-bottom: 3px solid #fff;
}
nav ul li a:hover {
  border-bottom: 3px solid #fff;
}
#banner {
  height: 700px;
}
#banner .inner {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 160px;
  color: #eee;
}
button {
  border: none;
  background-color: #333;
  color: #eee;
  padding: 10px;
  position: relative;
  top: 130px;
}
#banner button {
  padding: 14px 60px;
  cursor: pointer;
  transition: all .5s ease;
}
#banner button:hover {
  background: #675353;
}
#banner .inner .more {
  position: relative;
  top: 220px;
}
.more a {
  text-decoration: none;
  color: #fff;
}
.more a:hover {
  text-decoration: underline;
}
.sub-heading {
  line-height: 30px;
  margin: 30px 0;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
}
.logo a, h1, #banner {
  color: #fff;
  text-decoration: none;
}

/*主题样式一*/

.green-section {
  background-color: rgba(8, 157, 176, 0.8);
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.green-section .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.green-section .hr {
  background-color: #078494;
  width: 60%;
}
.green-section .icon-group .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #0D6F7C;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin: 20px 40px;
}
.icon-group .icon a {
  display: inline-block;
  width: 140px;
  margin-top: 38px;
  margin-left: -22px;
  text-decoration: none;
  color: #fff;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.icon-group .icon a:hover {
  color: #030527;
}
.icon-group {
  margin: 60px;
}
.gray-section {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 0;
}
.gray-section .img-section {
  width: 45%;
}
.img-section img {
  width: 100%;
}
.gray-section .text-section {
  width: 55%;
}
.text-section p a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.article-preview>div {
  float: left;
}
.article-preview:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.text-section {
  position: relative;
  top: 68px;
  left: 50px;
}
.text-section h2 {
  margin-bottom: 20px;
}
.text-section .sub-heading {
  font-size: 22px;
  margin-top: 0;
}
.text-section p {
  font-size: 18px;
  letter-spacing: 1px;
}
.text-section>* {
  max-width: 90%;
}

/*主题样式二*/

.purple-section {
  padding: 80px;
  background-color: rgba(33, 28, 26, 0.44);
  color: #ffffff;
}
.purple-section .heading-wrapper {
  text-align: center;
}
.purple-section .hr {
  background: #373259;
  width: 60%;
}
.card-group:after {
  content: '';
  clear: both;
  display: block;
}
.card {
  float: left;
  width: 50%;
  min-height: 300px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card:first-child {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(2) {
  background: rgba(0, 0, 0, 0.2);
}
.card:nth-child(3) {
  background: rgba(0, 0, 0, 0.2);
}
.card:nth-child(4) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(5) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(6) {
  background: rgba(0, 0, 0, 0.2);
}
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  min-height: 100px;
  text-align: center;
}
ul .share-group {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 120px;
}
.share-group li {
  display: inline-block;
  padding: 25px 20px;
}
.share-group li a {
  text-decoration: none;
  color: #fff;
}
.share-group li a:hover {
  text-decoration: underline;
}
.copy {
  padding-bottom: 30px;
}
.copy p {
  font-size: 14px;
}

/*侧边栏*/

.slidebar {
  width: 330px;
  height: 100%;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  right: -330px;
}
.slidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slidebar ul li {
  display: block;
  height: 50px;
  line-height: 50px;
}
.slidebar ul li:first-child {
  margin-top: 20px;
}
.slidebar a {
  text-decoration: none;
  color: #fff;
  padding: 0 40px;
  display: block;
  width: 100%;
}
.slidebar a:hover {
  background: #444;
}

/*遮罩区*/

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  display: none;
}

/*回到顶部*/

.backTop {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background: #333;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #888;
  cursor: pointer;
}